@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------------*/
.header__font {
  text-transform: uppercase;
  font: 3em Montserrat;
  font-weight: 800;
  text-align: left;
  margin: 0;
  display: block; }

.header__phone {
  text-transform: uppercase;
  font: 1em Montserrat;
  font-weight: 400;
  text-align: left;
  margin: 0;
  display: inline-block; }

.nav__font {
  text-transform: none;
  font: 1em Montserrat;
  font-weight: 400;
  text-align: center;
  margin: 0;
  display: block; }

.nav__heading {
  text-transform: uppercase;
  font: 1.2em Montserrat;
  font-weight: 700;
  text-align: left;
  margin: 0;
  display: inline-block; }

.content__font {
  text-transform: none;
  font: 1em Montserrat;
  font-weight: 400;
  text-align: left;
  margin: 0;
  display: block; }

.content__heading {
  text-transform: uppercase;
  font: 1.2em Montserrat;
  font-weight: 700;
  text-align: center;
  margin: 0;
  display: block; }

.content__font_aside {
  text-transform: none;
  font: 0.9em Montserrat;
  font-weight: 300;
  text-align: left;
  margin: 0;
  display: inline-block; }

.footer__font {
  text-transform: none;
  font: 2.2em Montserrat;
  font-weight: 800;
  text-align: left;
  margin: 0;
  display: inline-block; }

.popup__font {
  text-transform: none;
  font: 1em Montserrat;
  font-weight: 400;
  text-align: left;
  margin: 0;
  display: inline-block; }

.popup__font_heading {
  text-transform: none;
  font: 1.2em Montserrat;
  font-weight: 700;
  text-align: left;
  margin: 0 0 16px 0;
  display: block; }

.tabs__font_heading {
  text-transform: none;
  font: 1.1em Montserrat;
  font-weight: 400;
  text-align: left;
  margin: 0;
  display: block; }

.tabs__font {
  text-transform: none;
  font: 1em Montserrat;
  font-weight: 400;
  text-align: left;
  margin: 0;
  display: block; }

.body, html {
  font-size: 18px;
  background-color: #f1f1f1;
  height: 100%;
  color: #232323; }

.page {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 18% 82%;
  grid-template-columns: 18% 82%;
  grid-template-areas: "header header" "nav content" "nav content" "footer footer"; }

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  padding: 11px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  color: #f1f1f1; }

.nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  padding: 8px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #faa533;
  text-align: center; }

.content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 8px;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background: #f1f1f1; }

.aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background: #fad033;
  border-radius: 6px; }

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  padding: 8px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  color: #f1f1f1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px;
  z-index: 3; }
  .popup__body .popup__content {
    background: #f1f1f1;
    color: #232323;
    max-width: 720px;
    padding: 30px;
    position: relative; }
  .popup__body .popup__close {
    position: absolute;
    font-family: Montserrat;
    right: 10px;
    top: 10px;
    font: 20px; }

.popup:target {
  opacity: 1;
  visibility: visible; }

.popup__area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

a:link {
  color: #232323; }

a:hover {
  color: #232323; }

a:active {
  color: #232323; }

a:visited {
  color: #232323; }

.content__heading {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.content__font {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.nav__font {
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #f1f1f1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.nav__font:hover {
  background: #fad033;
  padding: 8px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 6px; }

.content__list_item {
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 1.25rem;
  position: relative; }

.content__list_item:before {
  content: "";
  background: #fad033;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  position: absolute;
  left: -1.25rem;
  top: 5px; }

.aside {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.content__image {
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px #232323;
  box-shadow: 0px 0px 8px #232323;
  border-radius: 8px; }

.tabs__image {
  width: 100%;
  border-radius: 6px; }

.article {
  margin: 2.75rem 0 2.5rem 0; }

.article:first-child {
  margin: 1rem 0 1rem 0; }

.header__font:before {
  content: url("../image/icon.png");
  margin-right: 1rem; }

.tabs {
  background: #FFD965;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs__head {
  background: #fad033;
  padding: 16px;
  -webkit-box-flex: 20%;
  -ms-flex: 20%;
  flex: 20%; }

.tabs__body {
  padding: 16px;
  -webkit-box-flex: 80%;
  -ms-flex: 80%;
  flex: 80%; }

.details[open] {
  padding: 0 0 16px 0; }

details summary {
  display: block;
  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
  width: 10em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
  border-bottom: px dotted;
  /* подводка точками или тире часто используется для элементов, с которыми пользователю предлагается взаимодействовать, можно заменить на text-decoration */
  outline-style: none;
  /* удалить обводку при фокусе */
  cursor: pointer; }

details summary::-webkit-details-marker {
  /* нестандартный псевдоэлемент Google Chrome */
  display: none; }

@media (max-width: 900px) {
  .body {
    font-size: 14px; } }

@media (max-width: 680px) {
  .body {
    font-size: 24px; }
    .body .header__font {
      font-size: 2.5rem;
      margin: 1rem; }
  .header .header__font {
    text-align: center; }
  .header .header__font:before {
    display: block; }
  .page {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "content" "footer"; }
    .page .content {
      width: 96%; }
  .tabs__item span {
    display: block;
    width: 100px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
  .footer {
    font-size: 10px;
    text-align: center; }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .nav {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .content {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .aside {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }
