@charset "UTF-8";

/* ****** ОБНУЛЕНИЕ ****** */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ****** ЭЛЕМЕНТЫ ****** */
.body {
  background: url("/source/picture/article/news/home.png");
  background-size: cover;
  color: rgb(255, 255, 255);
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.body:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
}

.container {
  width: 92vw;
  height: 88vh;
  max-width: 92vw;
  max-height: 88vh;
  padding: 8vh 0 0 10vw;
  opacity: 1;
  position: relative;
  z-index: 5;

  display: grid;
  grid-template-columns: minmax(24px, 1fr) 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "nav-title nav-title nav-title nav-title"
    "nav-subtitle content content content";
}

.nav-title {
  grid-area: nav-title;
  background-color: hsl(0, 3%, 6%);
  display: flex;
  overflow-x: auto;

}

.nav-subtitle {
  grid-area: nav-subtitle;
  background-color: #121212;
  margin: 32px 16px 0 0;
  overflow-y: auto;
}

.content {
  grid-area: content;
  background-color: #1b1a1a;
  overflow: auto;
  margin: 32px 0 0 16px;
  padding: 16px;
}

.button {
  padding: 16px;
  margin: 0;
  display: block;
  display: flex;
  align-items: center;
}

.button .text {
  margin: auto;
}

.nav-subtitle__button {
  width: 100%;
}

.heading {
  font: 28px "Montserrat";
  font-weight: 700;
  margin-bottom: 4px;
}

.text {
  font: 18px "Montserrat";
  font-weight: 400;
  margin-bottom: 8px;
  text-align: justify;
}

.i {}

.b {}

.text_yellow {
  color: #E8DF59;
}

.link {
  color: #46C6E7;
}

.content__table-picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__table-picture .picture_content {
  height: 280px;
  margin: 0;
  padding: 8px;
}

.picture {}

.picture_content {
  width: 100%;
  margin: 0 0 16px 6px;
}

.logo {
  padding: 12px;
  margin: 0 32px 0 16px;
}

.menu-open {
  display: none;
  position: fixed;
  bottom: 8px;
  right: 8px;
}

.menu__button {
  background: none;
}

.menu__button .picture {
  max-width: 35%;
  max-height: 35%;
}

@media (max-width: 820px) {
  .container {
    grid-template-columns: minmax(24px, 2fr) 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav-title nav-title nav-title nav-title"
      "nav-subtitle content content content";
  }
}

@media (max-width: 620px) {
  .container {
    grid-template-columns: minmax(24px, 2fr) 1fr 1fr 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas: "nav-title nav-title nav-title nav-title"
      "content content content content";
  }

  .nav-subtitle {
    display: none;
    position: absolute;
    background-color: #020202;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .nav-subtitle__inner {
    width: auto;
    height: auto;
  }

  .menu-open {
    display: block;
  }

  .content {
    margin: 0;
  }
}